---
---

@import "{{site.theme}}";

#main-content h1{
    color: green;
}



// news css

.card{
    display: flex;
    margin-bottom: 1rem;
    border-bottom: solid 1px lightgrey;
}

.pic{
    margin-right: 1.5rem;

}